button {
  display: block;
  margin: 10px auto;

  &[type='submit']{
    padding: 0 50px;
  }
}


.other-actions {
  display: inline-block;
  margin-left: 2em;
  vertical-align: middle;

  button {
    padding: 0 20px;
    color: white;
  }
}
